<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Texturina:ital,opsz,wght@0,12..72,100..900;1,12..72,100..900&display=swap" rel="stylesheet">
  <title>All Players</title>
  <style>

  body {
    background-color: #d4f0e1;
  }
  
  .table-borderless > tbody > tr > td,
  .table-borderless > tbody > tr > th,
  .table-borderless > tfoot > tr > td,
  .table-borderless > tfoot > tr > th,
  .table-borderless > thead > tr > td,
  .table-borderless > thead > tr > th {
      border: none;
  }

  a.link-dark {
  text-decoration: none !important;
}

.link-dark:hover {
  text-decoration: underline !important;
}

.commissioner-Regular {
  font-family: "Commissioner", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "FLAR" 0,
    "VOLM" 0;
}


  </style>
</head>
<body>
  <div id='all'>
    <h1>162 Game Averages - Pitchers - <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-50 link-underline-opacity-75-hover link-dark" href="{{ url_for('main.index') }}">Home</a></h1>
  <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-50 link-underline-opacity-75-hover link-dark" href="{{ url_for('main.hit_stats') }}">Hitters
</a>
</div>
<div class="container-fluid">
    <div class="row align-items-start">
        <div class='col-12'>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Team</th>
        <th>Pos</th>
        <th><a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-50 link-underline-opacity-75-hover link-dark" href="{{ url_for('main.pit_stats', stat='p_ip') }}">IP</a></th>
        <th><a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-50 link-underline-opacity-75-hover link-dark" href="{{ url_for('main.pit_stats', stat='p_g') }}">G</a></th>
        <th><a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-50 link-underline-opacity-75-hover link-dark" href="{{ url_for('main.pit_stats', stat='p_gs') }}">GS</a></th>
        <th><a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-50 link-underline-opacity-75-hover link-dark" href="{{ url_for('main.pit_stats', stat='p_w') }}">W</a></th>
        <th><a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-50 link-underline-opacity-75-hover link-dark" href="{{ url_for('main.pit_stats', stat='p_l') }}">L</a></th>
        <th><a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-50 link-underline-opacity-75-hover link-dark" href="{{ url_for('main.pit_stats', stat='p_sv') }}">SV</a></th>
        <th><a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-50 link-underline-opacity-75-hover link-dark" href="{{ url_for('main.pit_stats', stat='p_hr') }}">HR</a></th>
        <th><a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-50 link-underline-opacity-75-hover link-dark" href="{{ url_for('main.pit_stats', stat='p_bb') }}">BB</a></th>
        <th><a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-50 link-underline-opacity-75-hover link-dark" href="{{ url_for('main.pit_stats', stat='p_so') }}">SO</a></th>
        <th><a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-50 link-underline-opacity-75-hover link-dark" href="{{ url_for('main.pit_stats', stat='p_cg') }}">CG</a></th>
        <th><a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-50 link-underline-opacity-75-hover link-dark" href="{{ url_for('main.pit_stats', stat='p_sho') }}">SHO</a></th>
        <th><a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-50 link-underline-opacity-75-hover link-dark" href="{{ url_for('main.pit_stats', stat='p_earned_run_avg') }}">ERA</a></th>
        <th><a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-50 link-underline-opacity-75-hover link-dark" href="{{ url_for('main.pit_stats', stat='p_whip') }}">WHIP</a></th>
        <th><a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-50 link-underline-opacity-75-hover link-dark" href="{{ url_for('main.pit_stats', stat='p_bb_per_nine') }}">BB/9</a></th>
        <th><a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-50 link-underline-opacity-75-hover link-dark" href="{{ url_for('main.pit_stats', stat='p_so_per_nine') }}">K/9</a></th>
        <th><a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-50 link-underline-opacity-75-hover link-dark" href="{{ url_for('main.pit_stats', stat='p_war') }}">WAR</a></th>
        <!--<th>Button</th>-->
      </tr>
    </thead>
    <tbody>
  {% for p in people %}
    {% set team_logo = p.get('s_mlbteam', [])[0] if p.get('s_mlbteam') else '' %}
    {% if p.kind == "pitcher" %}
      <tr>
        <td class='commissioner-Regular'><a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-50 link-underline-opacity-75-hover link-dark" href="{{ url_for('main.playerpage', kind=p.kind, id=p.id) }}">{{ p.get('FirstName','') }} {{ p.get('LastName','') }}</a></td>
        <td class='commissioner-Regular'><img src="https://filedn.com/limKzbrdG9qBWDCDLoyNoHF/files/Logos/hats/{{ team_logo }}.png" height=20px></td>
        <td class='commissioner-Regular'>{{ p.short_pos }}</td>
        <td class='commissioner-Regular'>{{ p.get('p_ip','') }}</td>
        <td class='commissioner-Regular'>{{ p.get('p_g','') }}</td>
        <td class='commissioner-Regular'>{{ p.get('p_gs','') }}</td>
        <td class='commissioner-Regular'>{{ p.get('p_w','') }}</td>
        <td class='commissioner-Regular'>{{ p.get('p_l','') }}</td>
        <td class='commissioner-Regular'>{{ p.get('p_sv','') }}</td>
        <td class='commissioner-Regular'>{{ p.get('p_hr','') }}</td>
        <td class='commissioner-Regular'>{{ p.get('p_bb','') }}</td>
        <td class='commissioner-Regular'>{{ p.get('p_so','') }}</td>
        <td class='commissioner-Regular'>{{ p.get('p_cg','') }}</td>
        <td class='commissioner-Regular'>{{ p.get('p_sho','') }}</td>
        <td class='commissioner-Regular'>{{ p.get('p_earned_run_avg','') }}</td>
        <td class='commissioner-Regular'>{{ p.get('p_whip','') }}</td>
        <td class='commissioner-Regular'>{{ p.get('p_bb_per_nine','') }}</td>
        <td class='commissioner-Regular'>{{ p.get('p_so_per_nine','') }}</td>
        <td class='commissioner-Regular'>{{ p.get('p_war','') }}</td>

        <!--
        <td>
          <form action="{{ url_for('main.playerpagefull') }}" method="post">
            <input type="hidden" name="kind" value="{{ p.kind }}">
            <input type="hidden" name="id"   value="{{ p.id }}">
            <button type="submit">Full</button>
          </form>
        </td>
        -->
      </tr>
    {% endif %}
  {% endfor %}
</tbody>

  </table>
</div>
</div>
</div>
</body>
</html>