<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Pitcher Data</title>
</head>
<body>
    <h1>Pitcher Data</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Position</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
            {% for id, pitcher in pitchers.items() %}
            <tr>
                <td>{{ id }}</td>
                <td>{{ pitcher.FirstName }}</td>
                <td>{{ pitcher.LastName }}</td>
                <td>{{ pitcher.s_team }}</td>
                <td><a href="{{ url_for('main.playerpage', hitter_id=id) }}">View</a></td>
                <td>
                    <form action="{{ url_for('main.playerpagefull') }}" method="post">
                      <input type="hidden" name="hitter_id" value="{{ id }}">
                      <button type="submit">Full</button>
                    </form>


                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>